h1{
    letter-spacing: 30px;
    word-spacing: 15px;
    text-align: center;
    background-color: aqua;
    text-transform: capitalize;
    color: blue;
}

img{
    width: 400px;
    height: 500px;
}

